@font-face {
	font-family: BebasNeueBold;
	src: url(./fonts/BebasNeueBold.woff);
}

/* Styles */
body {
	font: 14px 'BebasNeueBold';
	line-height: 1.4em;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	font-weight: 300;
}
