.video-content-info {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    margin-top: 6.1vh;
    background: rgba(0, 0, 0, 0.7);
}

.content-info-icon { 
	margin-left: 2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}