.sort-collections-modal { 
	position: absolute;
    top: 10vh;
    background-color: black;
    left: 30px;
    color: lightsteelblue;
    overflow                : auto;
    -webkit-overflow-scrolling : touch;
    border-radius           : 4px;
    outline                 : none;
    padding                 : 10px;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
}    

.sort-collections-modal-overlay { 
	background-color: transparent;
	position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.sort-collections-modal-header {
	font-size: 2vh;
    font-weight: 600;
}

.sort-collections-modal-link {
	font-size: 2vh;
    display: flex;
    align-items: center;
}

.sort-collections-modal-link:hover {
	font-size: 3vh;
	-webkit-transition-property: font-size;
	-moz-transition-property: font-size;
	-o-transition-property: font-size;
	transition-property: font-size;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-timing-function: linear;
	-moz-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
}

.sort-collections-modal-link:hover:after { 
	font-size: 3vh;
}

/** 
 * iPad with portrait orientation.
 */
@media all and (max-device-width: 769px) and (max-device-height: 1024px) and (orientation:portrait) {
	.sort-collections-modal { 
	    position: absolute;
	    top: 10vh;
	    bottom: 75vh;
	    background-color: black;
	    left: 30px;
	    color: lightsteelblue;
	}
}

/** 
 * iPad with landscape orientation.
 */
@media all and (max-device-width: 769px) and (max-device-height: 1024px) and (orientation:landscape) {
	.sort-collections-modal { 
	    position: absolute;
	    top: 10vh;
	    background-color: black;
	    left: 30px;
	    color: lightsteelblue;
	}
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (max-device-width: 415px) and (orientation:portrait) {
	.sort-collections-modal {
		position: absolute;
	    top: 10vh;
	    background-color: black;
	    bottom: 75vh;
	    left: 30px;
	    color: lightsteelblue;
	}
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (max-device-width: 415px) and (orientation:landscape) {
	.sort-collections-modal {
	    position: absolute; 
	    top: 10vh;
	    background-color: black;
	    left: 30px;
	    color: lightsteelblue;
	}
}