.horizontal-scrollbar { 
	width: 100%;
	background-color: black;
	position: relative;
    overflow-x: scroll;
    margin-top: 2vh;
}

.header-thumbnail-container { 
	width: 20vw;
    background-color: #00FF00;
    float: left;
    padding-left: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    overflow: hidden;
}

div.header-thumbnail-container:last-child { 
    padding-right: 2vh;
}

div.header-thumbnail-image { 
	max-width: 25vw
}

div.header-thumbnail { 
	width: 100%;
	height: 100%;
	background-color: red;
}

.scroll-image-container { 
	width: 20vh;
	height: 20vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.scroll-image { 
    max-width: 313%;
    max-height: 20vh;
}