.horizontal-scrollbar { 
	width: 100%;
	background-color: black;
	position: relative;
    overflow-x: scroll;
    margin-top: 2vh;
}

.header-thumbnail-container { 
	width: 20vw;
    background-color: #00FF00;
    float: left;
    padding-left: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    overflow: hidden;
}

div.header-thumbnail-container:last-child { 
    padding-right: 2vh;
}

div.header-thumbnail-image { 
	max-width: 25vw
}

div.header-thumbnail { 
	width: 100%;
	height: 100%;
	background-color: red;
}

.scroll-image-container { 
	width: 20vh;
	height: 20vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.scroll-image { 
    max-width: 313%;
    max-height: 20vh;
}


/** 
 * iPad with portrait orientation.
 */
@media all and (max-device-width: 769px) and (max-device-height: 1024px) and (orientation:portrait){
		.scroll-image-container { 
			width: 20vh;
			height:16vh;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
		}
}

/** 
 * iPad with landscape orientation.
 */
@media all and (max-device-width: 769px) and (max-device-height: 1024px) and (orientation:landscape){
		.scroll-image-container { 
			width: 20vh;
			height:16vh;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
		}
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (max-device-width: 415px) {
		.scroll-image-container { 
			width: 20vh;
			height:16vh;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
		}
}