.full-screen-content-modal { 
	width: 100vw;
	height: 100vh;
	background-color: #00E5EE;
}

.full-screen-content-modal-overlay { 
	background-color: transparent;
	position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.full-screen-content-image { 
	width: 100%;
	height: auto;
}
.full-screen-content-image-info { 
    padding: 2vh;
}

.full-screen-content-modal-content-container { 
	width: 100%;
	height: 100%;
    overflow-y: scroll;
	justify-content: center;
}

.full-screen-content-image-info-container {
	font-size: 2.5vh;
	position: absolute;
	color: white;
	background: rgba(0, 0, 0, 0.7);  
	width: 100%;
	display: flex;
	flex-direction: column;
}

.full-screen-content-image-info-toggle { 
	height: 5vh;
	display: flex;
    align-items: center;
    margin-left: 2.5vh;
}

.full-screen-content-image-info-toggle-plus-minus { 
	display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5vh;
}

.full-screen-content-image-info-description { 
	font-family: Helvetica Neue;
}

/** 
 * iPad with landscape orientation.
 */
@media all and (max-device-width: 769px) and (max-device-height: 1024px) and (orientation:landscape) {
	.full-screen-content-image-info-container {
		font-size: 1.5vh;
	}
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (max-device-width: 415px) and (orientation:portrait) {
	.full-screen-content-image-info-container {
		font-size: 1.5vh;
	}
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (max-device-width: 415px) and (orientation:landscape) {
	.full-screen-content-image-info-container {
		font-size: 1.5vh;
	}
}