i.arrow { 
    display: none;
}

.content-image-container {
    margin-top: 10vh;
    height: 80vh;
    width: 100vw;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    background-color: black;
}

.content-video-container {
    margin-top: 10vh;
    height: 80vh;
    width: 100vw;
    background-color: black;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

.collection-image { 
    max-height: 100%!important;
    max-width: 100%;
    width: auto!important;
}

.slider-slide { 
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

.scroll-image { 
    max-height: 20vw;
}

.content-info-icon {
    font-size: 3vh;
    background-color: black;
    height: 4vw;
    width: 4vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2vh;
    width: 100%;
}

.content-collection-slider-button {
    font-size: 3vh;
    background-color: black;
    height: 4vh;
    width: 8vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}
/** 
 * iPad with portrait orientation.
 */
@media all and (max-device-width: 769px) and (max-device-height: 1024px) and (orientation:portrait){
    .collection-image {
        max-height: 100% !important;
        width: auto !important;
        max-width: 85vw;
    }
}

/** 
 * iPad with landscape orientation.
 */
@media all and (max-device-width: 769px) and (max-device-height: 1024px) and (orientation:landscape){
    .collection-image {
        max-height: 100% !important;
        width: auto !important;
        max-width: 85vw;
    }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (max-device-width: 415px) {
    .collection-image {
        max-height: 100% !important;
        width: auto !important;
        max-width: 68vw;
    }
}